$mainColor: #464E5F;
$blue: #2F80ED;

td{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $mainColor;
    padding: 10px;
}

button{
    border: none;
    outline-color: transparent;
    outline-width: 0px;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

button:active,
button:focus{
    outline-color: transparent;
    outline-width: 0px;
}

.edit{
    color: $blue;
}

.delete{
    color: red;
}

.name{
    min-width: 100px;
}